<div class="eb_copy_txt_wrap">
    <div style="width:60%;">
        <select class="eb_copy custom-select" name="eb_token" id="id_eb_token">
            <option value="">{{token_dropdown_lbl}}</option>
            {{#tokens}}
            <option data-id="{{id}}" value="{{token}}" {{display}} {{selected}}>
                {{token}}
            </option>
            {{/tokens}}
        </select>
    </div>
    <div>
        <button class="btn btn-primary eb_primary_copy_btn">{{copy_btn_text}}</button>
    </div>
</div>
