{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Edwiser Bridge
    @package auth_edwiserbridge
    @copyright (c) 2024 WisdmLabs (https://wisdmlabs.com/)
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template auth_edwiserbridge/installation_guide

    Setup wizard footer template

    Context variables required for this template:
    * installationNote1 - Installation note 1
    * moduleNameFreeWPPlugin - Module name for free WP plugin
    * moduleNameFreeMDLPlugin - Module name for free MDL plugin
    * installationNote2 - Installation note 2
    * continueBtn - Continue button text
    * step - Current step
    * nextStep - Next step
    * isNextSubStep - Is next step a sub step
    * installationFaq - Installation FAQ
    * faqDownloadPlugin - Download plugin text
    * faqSteps - FAQ steps
    * faqStep1 - FAQ step 1
    * faqStep2 - FAQ step 2
    * faqStep3 - FAQ step 3
    * faqStep4 - FAQ step 4


    Example context (JSON):
    {
        "installationNote1": "value1",
        "moduleNameFreeWPPlugin": "value2",
        "moduleNameFreeMDLPlugin": "value3",
        "installationNote2": "value4",
        "continueBtn": "value5",
        "step": "value6",
        "nextStep": "value7",
        "isNextSubStep": "value8",
        "installationFaq": "value9",
        "faqDownloadPlugin": "value10",
        "faqSteps": "value11",
        "faqStep1": "value12",
        "faqStep2": "value13",
        "faqStep3": "value14",
        "faqStep4": "value15"
    }

}}
<div class="eb_setup_installation_guide es-w-80">
    <div>
        <p class="eb_setup_p"> {{installationNote1}} </p>
        <div class="eb_setup_p_wrap">
            <p class="eb_setup_h2"> <i class="fa-solid fa-circle-chevron-right"></i> {{moduleNameFreeWPPlugin}} </p>
            <p class="eb_setup_h2"> <i class="fa-solid fa-circle-chevron-right"></i> {{moduleNameFreeMDLPlugin}} </p>
        </div>
        <span class="eb_setup_p"> {{installationNote2}} </span>
        <div class="eb_setup_btn_wrap">
            <button class="eb_setup_btn eb_setup_save_and_continue" data-step='{{step}}' data-next-step='{{nextStep}}' data-is-next-sub-step='{{isNextSubStep}}'>
                {{continueBtn}}
            </button>
        </div>
    </div>
    <div>
        <div class='es-p-t-10'>
            <div class='accordion'> <i class="fa-solid fa-circle-question"></i> {{installationFaq}} <i class="fa-solid fa-chevron-down"></i> <i class="fa-solid fa-chevron-up"></i> </div>
            <div class="panel">
                <div>
                    <a class="eb_setup_sec_btn" href='https://downloads.wordpress.org/plugin/edwiser-bridge.zip'> {{faqDownloadPlugin}} </a>
                </div>
                <p>
                    <p class='es-p-t-10'> {{faqSteps}} </p>
                    <ol>
                        <li class='es-p-b-10'> {{faqStep1}} </li>
                        <li class='es-p-b-10'> {{faqStep2}} </li>
                        <li class='es-p-b-10'> {{faqStep3}} </li>
                        <li class='es-p-b-10'> {{faqStep4}} </li>
                    </ol>
                </p>
            </div>
        </div>
    </div>
</div>