{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Edwiser Bridge
    @package auth_edwiserbridge
    @copyright (c) 2024 WisdmLabs (https://wisdmlabs.com/)
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template auth_edwiserbridge/user_and_course_sync

    User and course sync template

    Context variables required for this template:
    * setup_sync_note1: Note for user and course sync
    * select_all: Text for "Select All" option
    * recommended: Text indicating "Recommended" option
    * all_checked: Boolean indicating if "Select All" option is checked
    * sync_settings: Array of sync settings
      - name: Name of the sync setting
      - label: Label for the sync setting
      - tip: Tooltip text for the sync setting
      - checked: Boolean indicating if the sync setting is checked
    * prevurl: URL for the previous step
    * nexturl: URL for the next step
    * back: Text for the "Back" button
    * skip: Text for the "Skip" button
    * setup_continue_btn: Text for the "Continue" button
    * step: Current step number
    * nextstep: Next step number
    * isnextsubstep: Boolean indicating if the next step is a sub-step

    Example context (JSON):
    {
        "setup_sync_note1": "value1",
        "select_all": "value2",
        "recommended": "value3",
        "all_checked": true,
        "sync_settings": [
        {
            "name": "setting1",
            "label": "value4",
            "tip": "value5",
            "checked": true
        },
        {
            "name": "setting2",
            "label": "value6",
            "tip": "value7",
            "checked": false
        }
        ],
        "prevurl": "value8",
        "nexturl": "value9",
        "back": "value10",
        "skip": "value11",
        "setup_continue_btn": "value12",
        "step": 1,
        "nextstep": 2,
        "isnextsubstep": false
    }
}}
<div class="eb_setup_user_and_course_sync es-p-t-b-30 es-w-80">
    <div>
        <div>
            <p>{{{setup_sync_note1}}}</p>
            <div class="eb_setup_inp_wrap">
                <label class='esw-cb-container'>
                    <input type='checkbox' name='eb_setup_sync_all' id='eb_setup_sync_all' {{#all_checked}}checked{{/all_checked}}>
                    <span class='esw-cb-checkmark'></span>
                    <span class="eb_setup_h2">{{{select_all}}} {{{recommended}}}</span>
                </label>
            </div>
            <hr>
            {{#sync_settings}}
            <div class="eb_setup_inp_wrap">
                <label class='esw-cb-container'>
                    <input type='checkbox' class="eb_setup_sync_cb" name='{{name}}' id='{{name}}' {{#checked}}checked{{/checked}}>
                    <span class='esw-cb-checkmark'></span>
                    <span class="eb_setup_h2">{{{label}}}</span>
                    <i class="fa-solid fa-info eb-tooltip es-info-icon">
                        <span class='eb-tooltiptext'>{{{tip}}}</span>
                    </i>
                </label>
            </div>
            {{/sync_settings}}
            <div class="eb_setup_btn_wrap">
                <a class="eb_setup_sec_btn" href="{{prevurl}}">
                    {{{back}}}
                </a>
                <a class="eb_setup_sec_btn" href="{{nexturl}}">
                    {{{skip}}}
                </a>
                <button class="eb_setup_btn eb_setup_save_and_continue" data-step="{{step}}" data-next-step="{{nextstep}}" data-is-next-sub-step="{{isnextsubstep}}">
                    {{{setup_continue_btn}}}
                </button>
            </div>
        </div>
    </div>
</div>
