{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Edwiser Bridge
    @package auth_edwiserbridge
    @copyright (c) 2024 WisdmLabs (https://wisdmlabs.com/)
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template auth_edwiserbridge/wordpress_site_details

    WordPress site details template

    Context variables required for this template:
    * setup_wp_site_note1: Note 1 for setting up WordPress site
    * setup_wp_site_dropdown: Label for WordPress site dropdown
    * wp_site_tip: Tooltip text for WordPress site dropdown
    * select: Option text for select option
    * create_wp_site: Option text for creating a new WordPress site
    * sites: Array of existing WordPress sites
        - key: Unique identifier for the site
        - name: Name of the site
        - url: URL of the site
        - selected: Whether the site is selected or not (true/false)
    * class: CSS class for WordPress site details input wrappers
    * setup_wp_site_note2: Note 2 for setting up WordPress site
    * name_label: Label for site name input
    * wp_site_name_tip: Tooltip text for site name input
    * selected_name: Pre-filled value for site name input
    * url_label: Label for site URL input
    * wp_site_url_tip: Tooltip text for site URL input
    * selected_url: Pre-filled value for site URL input
    * prev_url: URL for the previous step
    * back: Text for the back button
    * setup_continue_btn: Text for the continue button
    * step: Current step number
    * nextstep: Next step number
    * isnextsubstep: Whether the next step is a sub-step or not (true/false)
    * btnclass: CSS class for the continue button

    Example context (JSON):
    {
        "setup_wp_site_note1": "value1",
        "setup_wp_site_dropdown": "value2",
        "wp_site_tip": "value3",
        "select": "value4",
        "create_wp_site": "value5",
        "sites": [
            {
                "key": "value6",
                "name": "value7",
                "url": "value8",
                "selected": "value9"
            }
        ],
        "class": "value10",
        "setup_wp_site_note2": "value11",
        "name_label": "value12",
        "wp_site_name_tip": "value13",
        "selected_name": "value14",
        "url_label": "value15",
        "wp_site_url_tip": "value16",
        "selected_url": "value17",
        "prev_url": "value18",
        "back": "value19",
        "setup_continue_btn": "value20",
        "step": "value21",
        "nextstep": "value22",
        "isnextsubstep": "value23",
        "btnclass": "value24"
    }
}}
<div class="eb_setup_wordpress_site_details es-w-80">
    <div>
        <div>
            <div class="eb_setup_conn_url_inp_wrap">
                <p>{{{setup_wp_site_note1}}}</p>
                <p>
                    <label class="eb_setup_h2">{{{setup_wp_site_dropdown}}}</label>
                    <i class="fa-solid fa-info eb-tooltip es-info-icon">
                        <span class='eb-tooltiptext'>{{{wp_site_tip}}}</span>
                    </i>
                </p>
                <select name="eb_setup_wp_sites" class="eb_setup_inp eb_setup_wp_sites">
                    <option value="">{{{select}}}</option>
                    <option value="create">{{{create_wp_site}}}</option>
                    {{#sites}}
                    <option data-name="{{name}}" data-url="{{url}}" value="{{key}}" {{selected}}>{{name}}</option>
                    {{/sites}}
                </select>
            </div>
            <div class="eb_setup_wp_site_details_inp eb_setup_conn_url_inp_wrap {{class}}">
                <span>{{{setup_wp_site_note2}}}</span>
                <p>
                    <label class="eb_setup_h2">{{{name_label}}}</label>
                    <i class="fa-solid fa-info eb-tooltip es-info-icon">
                        <span class='eb-tooltiptext'>{{{wp_site_name_tip}}}</span>
                    </i>
                </p>
                <input class="eb_setup_inp eb_setup_site_name" id="eb_setup_site_name" name="eb_setup_site_name" type="text" value="{{selected_name}}">
            </div>
            <div class="eb_setup_wp_site_details_inp eb_setup_conn_url_inp_wrap {{class}}">
                <p>
                    <label class="eb_setup_h2">{{{url_label}}}</label>
                    <i class="fa-solid fa-info eb-tooltip es-info-icon">
                        <span class='eb-tooltiptext'>{{{wp_site_url_tip}}}</span>
                    </i>
                </p>
                <input class="eb_setup_inp eb_setup_site_url" id="eb_setup_site_url" name="eb_setup_site_url" type="text" value="{{selected_url}}">
            </div>
            <div class="eb_setup_btn_wrap">
                <a class="eb_setup_sec_btn" href="{{prev_url}}">{{{back}}}</a>
                <button class="eb_setup_btn eb_setup_wp_details_btn eb_setup_save_and_continue {{btnclass}}" data-step="{{step}}" data-next-step="{{nextstep}}" data-is-next-sub-step="{{isnextsubstep}}">
                    {{{setup_continue_btn}}}
                </button>
            </div>
        </div>
    </div>
</div>
